<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title ">Employé : {{dataobject?.nom}} {{dataobject?.prenom}}</h4>
                        
    
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ul *ngIf="dataobject">
                                <li><b>Nom :</b> {{dataobject?.nom}}</li><br/>
                                <li><b>Prénom :</b> {{dataobject?.prenom}}</li><br/>
                                <li><b>Email :</b> {{dataobject?.email}}</li><br/>
                                <li><b>Âge :</b> {{dataobject?.age}}</li><br/>
                                <li><b>Téléphone :</b> {{dataobject?.tel}}</li><br/>
                                <li><b>État :</b> {{dataobject?.etat}}</li><br/>
                                <li><b>Fonction :</b> {{dataobject.fonction?.nom}}</li><br/>
                                <li><b>Grade :</b> {{dataobject.grade?.nom}}</li><br/>
                                <li><b>Rôles :</b><ul><div *ngFor="let item of dataobject.role"><li> {{item.nom}}</li></div></ul></li>
                               
                            </ul>
                            <div class="image">
                            <img src="/assets/img/fleche-gauche.png" routerLink="/admin/employee">
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


















