.image img{
    width: 20px;
}
.buttonterminee button{
    margin-left: 50%;
}
#haut{
    margin-right:3%;

}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  