<div class="main-content">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title" *ngIf="dataobject">Projet : {{dataobject.titre}}</h4>
                        
                    </div>
                    
                
                    <div class="card-body">

                        <ul *ngIf="dataobject">
                            <li><b>Déscription : </b>{{dataobject?.description}}</li><br/>
                            <li><b>Date début :</b> {{dataobject?.date_debut | date}}</li><br/>
                            <li><b>Date fin :</b> {{dataobject?.date_fin | date}}</li><br/>
                            <li><b>Créateur de projet :</b> {{dataobject?.employee_cree.nom}} {{dataobject?.employee_cree.prenom}}</li><br/>
                            <li><b>Date de création :</b> {{dataobject?.date_creation | date}}</li><br/>
                            <li><b>Fichier :</b> {{dataobject?.file}}
                                <a href={{file}} class="download" mat-raised-button type="button"   class="btn btn-info btn-link" >
                                    <i class="material-icons">download</i> Télécharger
                                    <!-- <button type="button" class="btn"><i class="fa fa-download"></i>Télécharger</button> -->
                                </a>
                                
                            </li><br/>
                           
                        </ul>
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <h4 class="card-title" >Équipe</h4>
                    
                </div> 
                    
                    <div class="card-body">
                        <table class="table">
                            <thead class=" text-primary">
                                <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Âge</th>
                                    <th scope="col">Téléphone</th>
                                    
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataArray">
                                    <td>{{item.nom}}</td>
                                    <td>{{item.prenom}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.age}}</td>
                                    <td>{{item.tel}}</td>
                                    
                                    
                                </tr>      
                               
                            
                            </tbody>
                        </table>
                        
                        
                        
                    </div>
                </div>
            </div>

            
        

            
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title">Tâche</h4>
                        
                    </div>
                   
                
               
                    <div class="card-body">
                        <!-- <table class="table">
                            <thead class=" text-primary">
                               
                                <th scope="col">Titre</th>
                                <th scope="col">Priorité</th>
                                <th scope="col">Etat</th>
                                
                                <th scope="col">Date création</th>
                           
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataTache">
                                    
                                    <td>{{item.titre}}</td>
                                    <td>{{item.priorite}}</td>
                                    <td>{{item.etat }}</td>
                                    <td>{{item.date_creation | date}}</td>

                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" [disabled]="!verifyUser(item.employee_cree)"  matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="onEdit(item)" >
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" *ngIf="item.etat=='En cours' && verifyUser(item.employee_cree) "  matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="delete(item._id)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                        <button mat-raised-button type="button" *ngIf="showDirecteur || showDeveloppeur ||(showTesteur && item.etat=='En cours')" matTooltip="voir" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="details(item._id)">
                                          <i class="material-icons">visibility</i>
                                      </button>
                                      <button mat-raised-button type="button" *ngIf="item.etat=='En cours' && (showDirecteur || showDeveloppeur)" matTooltip="Réaliser" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="updatetacheTerminee(item._id)">
                                        <i class="material-icons">done</i>
                                    </button>
                                    <button type="button" class="btn btn-success" *ngIf="showTesteur && item.etat=='Terminée'" (click)="details(item._id)" style="float:right;" > Tester<i class="material-icons">trending_flat</i></button>
                                    </td>
                                    
                                    
                                   
                                </tr>      
                               
                            
                            </tbody>
                        </table> -->



                        <div id="haut">
                        
                            <button type="button" class="btn btn-primary" *ngIf="showDirecteur || showDeveloppeur" (click)="clickAddTache()" style="float:right;" ><i class="material-icons">add</i> Ajouter Tâche</button>
                        <div id="search"  >
                         <mat-form-field appearance="standard">
                            <mat-label>Recherche</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input>
                          </mat-form-field>
                          <i class="material-icons" id="searchicon">search</i>
                          
                        </div>
                    </div>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                          
                             
                              <ng-container matColumnDef="Titre" >
                                <th class=" text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
                                <td mat-cell *matCellDef="let row"> {{row.titre}} </td>
                              </ng-container>
                          
                              
                              <ng-container matColumnDef="Priorite">
                                <th class=" text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Priorité </th>
                                <td mat-cell *matCellDef="let row"> {{row.priorite}}</td>
                              </ng-container>
                          
                           
                              <ng-container matColumnDef="Etat">
                                <th class=" text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> État </th>
                                <td mat-cell *matCellDef="let row"> {{row.etat}} </td>
                              </ng-container>
                          
                           
                              <ng-container matColumnDef="Date_de_creation">
                                <th class=" text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </th>
                                <td mat-cell *matCellDef="let row"> {{row.date_creation | date}} </td>
                              </ng-container>

                             

                              <ng-container matColumnDef="Action">
                                <th class=" text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                                <td mat-cell *matCellDef="let row"> 
                                    <button mat-raised-button type="button" *ngIf="(showDirecteur || showDeveloppeur)" [disabled]="!verifyUser(row.employee_cree)"  matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="onEdit(row)" >
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" *ngIf="(showDirecteur || showDeveloppeur)" [disabled]="row.etat=='Réalisée' || !verifyUser(row.employee_cree)"   matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="delete(row._id)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    
                                  <!-- <button mat-raised-button type="button" [disabled]="row.etat=='Réalisée'"  *ngIf=" (showDirecteur || showDeveloppeur)" matTooltip="Réaliser" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="updatetacheTerminee(row._id)">
                                    <i class="material-icons">done</i>
                                </button> -->
                                <button mat-raised-button type="button" matTooltip="voir" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="details(row._id)">
                                    <i class="material-icons">visibility</i>
                                </button>
                                <button type="button" class="btn btn-success" *ngIf="(showDirecteur || showDeveloppeur)" [disabled]="(row.etat=='Réalisée')" (click)="updatetacheTerminee(row._id)" style="float:right;" > <i class="material-icons">done</i> Réaliser </button>
                                <button type="button" class="btn btn-success"  [disabled]="row.etat=='En cours' " *ngIf="showTesteur " (click)="details(row._id)" style="float:right;" > Tester<i class="material-icons">trending_flat</i></button>
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          
                             
                              <!-- <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                              </tr> -->
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[4, 8, 12, 16, 20]" aria-label="Select page of taches"></mat-paginator>
                          </div>





                      
                    </div>
                </div>
            </div>
            
        
        
        </div>
        <div class="image">
            <img src="/assets/img/fleche-gauche.png" routerLink="/admin/projet">
        </div>
    </div>
  </div>



 

  