#search {
    
    position: relative;
    flex: 1 1 auto;
    width: 20%;
    min-width: 5;
    margin-top:2%;
    margin-left:40%;
    
    text-align: center;
    
}
#haut{
    margin-right:3%;

}
#ajout{
    margin-left: 80%;

}