<h2 mat-dialog-title>Bug</h2> 
         
<form [formGroup]="formValue">
  <div class="row">
    <div class="col-md-12"> 
      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label> 
    <mat-select matNativeControl required formControlName="type" >
      <mat-option *ngFor="let item of dataType" [value]="item.value" >{{item.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="text-danger" *ngIf=" formValue.get('type').errors?.['required'] && formValue.get('type').touched">Type est obligatoire</span>
                  
    </div>
    </div>

    <div class="row" >
      <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput  placeholder="Titre" type="text" required minlength="2"  formControlName="titre">
          </mat-form-field>
          <span class="text-danger" *ngIf=" formValue.get('titre').errors?.['required'] && formValue.get('titre').touched">Titre est obligatoire</span>
                   
                    <span class="text-danger" *ngIf="formValue.get('titre').errors?.['minlength'] ">Titre doit composer au moins deux caractères</span>
      </div>
      </div>
    <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" >
            <textarea matInput placeholder="Description" required minlength="2" formControlName="description" ></textarea>
          </mat-form-field>
          <span class="text-danger" *ngIf=" formValue.get('description').errors?.['required'] && formValue.get('description').touched">Description est obligatoire</span>
                   
          <span class="text-danger" *ngIf="formValue.get('description').errors?.['minlength'] ">Description doit composer au moins deux caractères</span>
      </div>
      </div>



    
  
      
<div  mat-dialog-actions [align]="'end'">
        
          <button type="button" id="cancel" class="btn btn-secondary" mat-dialog-close>Close</button>
          <button mat-raised-button type="submit"   [disabled]="formValue.invalid" class="btn btn-primary pull-right" (click)="gestionBug()">{{actionBtn}}</button>
          
          
          
      </div>
      
  </form>
